{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <title>Mood Analysis</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <noscript>
        <link rel="stylesheet" href="{% static 'css/noscript.css' %}">
    </noscript>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
</head>
<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="inner">
            <h1>Mood Analysis</h1>
        </div>
    </header>


    <!-- Main -->
    <div id="main">
        <div class="inner">
            <span class="image main"><img src="{% static 'images/banner.jpg' %}" alt=""/></span>
            {#            <a href="#" class="button icon solid fa-upload">Icon</a>#}
            <div class="flexcontainer">
                <div class="itemleft">
                    <form method="post" action="{% url 'analyse-uploaded-file' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <ul class="actions stacked">
                            <li><input type="file" id="file" name="file" class="button icon solid fa-upload"
                                       alt="file" accept="video/mp4, image/jpeg" onchange="set_submit_file_enabled()"/></li>
                            <li>
                                <button type="submit" class="button primary" disabled id="submit_file">Analyze Uploaded File</button>
                            </li>
                        </ul>
                    </form>
                </div>

                <div class="itemright">
                    <ul class="actions stacked">
                        <li><a href="#" class="button" onclick="record()">Record Video</a></li>
                        <li>
                            <form method="post" action="{% url 'analyse-recorded-video' %}"
                                  enctype="multipart/form-data"
                                  id="stop_recording">
                                {% csrf_token %}
                                <input type="hidden" accept="text/strings" id="blob_url" name="blob_url" value="">
                                <input type="hidden" id="blob_video" name="blob_video" value="">
                                <button type="submit" class="button primary" disabled id="submit_video">Analyze recorded Video
                                </button>
                            </form>
                        </li>
                        <li>
                            <video autoplay id="video"></video>
                        </li>
                    </ul>
                </div>
            </div>
            {% if not frames|length == 0 %}
                <hr>
                <h2>Frames taken into account</h2>
                <div class="flex-container">
                    {% for frame in frames %}
                        <div>
                            <img src="data:;base64,{{ frame.image }}" style="width: 10rem; height: auto;"/>
                            {{ frame.emotion }}
                        </div>
                    {% endfor %}
                </div>
                <hr>
                <h2>The final emotion is: <u>{{ emotion }}</u></h2>
            {% elif emotion is not None %}
                <hr>
                <h2>No face could be detected</h2>
            {% endif %}
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <ul class="copyright">
                <li>&copy; Dennis Hug, Laurin Leiwes, Moritz Moser</li>
            </ul>
        </div>
    </footer>

</div>

<!-- Scripts -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/browser.min.js' %}"></script>
<script src="{% static 'js/breakpoints.min.js' %}"></script>
<script src="{% static 'js/util.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/record.js' %}"></script>
</body>
</html>