{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <title>Mood Analysis</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <noscript>
        <link rel="stylesheet" href="{% static 'css/noscript.css' %}">
    </noscript>
</head>
<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            <a href="index.html" class="logo">
                <span class="symbol"><img src="{% static 'images/logo.svg' %}" alt=""/></span><span class="title">Mood Analysis</span>
            </a>

        </div>
    </header>


    <!-- Main -->
    <div id="main">
        <div class="inner">
            <span class="image main"><img src="{% static 'images/banner.jpg' %}" alt=""/></span>
            {#            <a href="#" class="button icon solid fa-upload">Icon</a>#}
            <ul class="actions small">
                <li>
                    <form method="post" action="{% url 'analyse-image' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <ul class="actions stacked">
                            <li><input type="file" id="image" name="image" class="button icon solid fa-upload"
                                       alt="image" accept="image/jpeg"/></li>
                            <li>
                                <button type="submit" class="button primary">Analyse Uploaded Image</button>
                            </li>
                        </ul>
                    </form>
                </li>
                <li>
                    <form method="post" action="{% url 'analyse-recorded-video' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" accept="video/webm" id="recorded_video" name="recorded_video" value="">
                        <ul class="actions stacked">
                            <li><a href="#" class="button" onclick="start_recording()">Record Video</a></li>
                            <li><video autoplay id="video"></video></li>
                            <li>
                                <button type="submit" class="button primary" onclick="stop_recording()">Stop Recording and Analyse Video</button>
                            </li>
                        </ul>
                    </form>
                </li>
            </ul>
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <ul class="copyright">
                <li>&copy; Dennis Hug, Laurin Leiwes, Moritz Moser</li>
            </ul>
        </div>
    </footer>

</div>

<!-- Scripts -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/browser.min.js' %}"></script>
<script src="{% static 'js/breakpoints.min.js' %}"></script>
<script src="{% static 'js/util.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/record.js' %}"></script>
</body>
</html>